.git
.gitignore
.env
.env.*
!.env.example

node_modules
vendor

public/build
public/hot

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

tests
*.log
npm-debug.log*

.DS_Store
Thumbs.db

README.md
CLAUDE.md
GEMINI.md
AGENTS.md
nixpack.toml
